*{
    --brandColor : #36A9E0;
}
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.product-container h2,p{
    line-height: 0;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
    margin: 2rem 5rem;
    grid-gap: .5rem;
    justify-items: center;

}
