
.navbar-container{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid var(--brandColor);
    
}
.navbar-container .logo{
    color: var(--brandColor);
}
.navbar-container .menu .menu-item{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(92, 91, 91);
}
.navbar-container .menu .menu-item:hover{
    color: var(--brandColor);
}
.essential-menu .item{
    padding: 5px 8px;
    font-size: 22px;
    color: rgb(92, 91, 91);
    position: relative;
}
.essential-menu .item:hover{
    color: var(--brandColor);
}
.essential-menu .item span{
    position: absolute;
    top: -3px;
    background-color: var(--brandColor);
    padding: 2px 6px;
    font-size: 15px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}